.idea/
target/
.DS_Store
assets/.DS_Store
camunda-h2-database.trace.db
camunda-h2-database.mv.db
/assets/driver-ride-event-simulator/node_modules/
/assets/driver-ride-event-simulator/package-lock.json
